<!DOCTYPE html>
<head>
	<title>	{% block title %}{% endblock %} - IPFS FSS</title>
	<link rel="stylesheet" href="static/css/handle_file.css">
	<link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/vendor/jquery/jquery-3.5.1.js">
	<link rel="stylesheet" href="static/vendor/bootstrap/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	{% block content %}
	{% endblock %}
</body>
</html>