{% extends 'h2.html' %}
{% block title %} SHARED FILES {% endblock %}
{% block content%}
	<div class="grandParentContaniner">
		<div class="parentContainer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My Shared Files</li>
                </ol>
              </nav>
			<form class="file-frm" method="post" action="/retrieve_file" enctype="multipart/form-data">

				<h3>My shared Files </h3>
				<small>A list of files shared to me and the peer name</small>
				<div class="container">
                    <div class="alert alert-custom fade in alert-dismissable show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <!-- <span aria-hidden="true">×</span> -->
                        </button>
                        {{ message }}
                    </div>
                </div>
                	{% if files %}
                <table class="table">
                	<tr>
                		<th>No</th>
                		<th>Sender</th>
                		<th>File Name</th>
                	</tr>
                	{% for file in files %}
                		<tr>
                			<td>{{ loop.index }}</td>
                			<td>{{ file[0] }}</td>
                			<td>{{ file[3] }}</td>
                		</tr>
                	{% endfor %}
                	{% endif %}

                </table>
                	You have no shared files
				<hr>
				<h4>Or Enter your hash</h4>
				<div class="form-group text-input">
					<label>File hash :</label>
					<input type="text" name="file_hash" class="" required>
				</div>
				<button type="submit" class="send-btn">Submit</button><br><br>

				 		
			</form>
		</div>
	</div>

{% endblock %}


