{% extends 'header.html' %}
{% block content %}
<br>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>Blockchain Based File Sharing</h1>
            <h2> Share files securely using a blockchain network</h2>
            <div class="d-flex">
              <a href="{{url_for('upload')}}" class="btn-get-started scrollto">Get Started</a>
            </div><hr>
            <div class="d-flex">
              <a href="{{url_for('download')}}" class="btn-get-started scrollto">My Files</a>
            </div><hr>
            <div class="d-flex">
              <a href="{{url_for('my_peers')}}" class="btn-get-started scrollto">My Peers</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="static/img/hero-img.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- End Hero -->

    <main id="main">

      <!-- ======= Featured Services Section ======= -->

      <section id="featured-services" class="featured-services">
        <div class="container">
          <div class="row">
            <div class="columns col-md-1">
            </div>
            <div class="columns col-md-10">
              <div class="icon-box">
                <div class="icon"><i class="icofont-computer"></i></div>

                <h4 class="title">
                  <a href="/">Connect to the blockchain</a>
                </h4>
                
                <p class="description">
                  Get connected to the blockchain to start sharing files securely
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="row">
            <div class="col-lg-6">
              <img src="static/img/about.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>About the Application</h3>
              <p>
                <h5>
                  Data Share aims at creating a system where the users can share files securely using a blockchain. Each connected user stores the complete blockchain.
                </h5>
                <br>
                <h4>Why a Blockchain?</h4>
                <ul>
                  <li>Decentralized environment </li>
                  <li>Supply chain data transparency</li>
                  <li>Secure data ledgers due to the sophisticated encryption mecahnisms</li>
                  <li>Data stored on the blockchain can't be deleted or tampered with</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="row content">
            <p>
              <h4>
                  Apart from the blockchain, Data Share also uses the following technologies:
              </h4>
              <ul> 
                <li><h5>IPFS</h5>
                  <ul>
                    <li>
                      IPFS is a peer-to-peer protocol where each node stores a collection of hashed files.
                    </li>
                    <li>
                      Since the blockchain is stored on all the nodes in the network, an increase in the number of files shared, increases the size of the blockchain, making it too heavy.
                    </li>
                    <li>
                      Here comes the role of IPFS. When we upload a file to the IPFS network, it uses SHA256 hashing encryption to generate a unique hash of the file based on the file content.
                    </li>
                    <li>
                      The file gets securely stored on the IPFS network and can be accessed easily using the generated hash.
                    </li>
                    <li>
                      Instead of storing the whole file on the blockchain, we store only the file hash, thereby making the blockchain light and more secure. 
                    </li>
                  </ul>
                </li>

                <li><h5>AES Encryption</h5>
                  <ul>
                    <li>
                      A file on the IPFS network can be accessed using its unique hash. So, anybody with access to the hash can acccess the file, making it prone to brute force attacks.
                    </li>
                    <li>
                      To eliminate this and giving users enhanced security, Data Share asks the uploader for a key. Using the key, it encrypts the file content first and then uploads it to the IPFS network.
                    </li>
                    <li>
                      A key can be anything which the sender wishes to use as his/her password for the file. The sender shares this key with only those people who he/she trusts for the purpose of receiving the file.  
                    </li>
                    <li>
                      To access the file, the recipient needs both the file hash and the key. The key can be shared by the sender using any mode of communication and the file hash gets communicated through the blockchain or the sender.
                    </li>
                  </ul>
                </li>

                <li><h5>Socket Programming</h5>
                  <ul>
                    <li>
                      Using Socket Programming, the blockchain network is set up such that only the people on the blockchain network can view the complete blockchain.
                    </li>
                  </ul>
                </li>

              </ul>
            </p>
          </div>

            <h5><u><a href="#featured-services"> Click Here</a></u> to get started by sharing your first file.</h5>

        </div>
      </section><!-- End About Section -->
    </main><!-- End #main -->
{% endblock %}