{% extends 'h2.html' %}
{% block title %} SHARED FILES {% endblock %}
{% block content%}
	
	<div class="grandParentContaniner">
		<div class="parentContainer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My Shared Files</li>&nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="/signup">Signup</a>
                </ol>
              </nav>
			<form class="file-frm" method="post" action="/login">

				<h3>Login </h3>
				<div class="container">
                    <div class="alert alert-custom fade in alert-dismissable show">
                        <button type="button" class="close" data-dismiss="info" aria-label="Close">
                            <!-- <span aria-hidden="true">×</span> -->
                        </button>
                        {{ message }}
                    </div>
                </div>
				<hr>
				<div class="form-group text-input">
					<label>Username</label>
					<input type="text" name="username" class="" required>
				</div>
				<div class="form-group text-input">
					<label>password</label>
					<input type="password" name="password" class="" required>
				</div>
				<button type="submit" class="send-btn">Login</button><br><br>

				 		
			</form>
		</div>
	</div>

{% endblock %}


