{% extends 'h2.html' %}
{% block title %} SHARED FILES {% endblock %}
{% block content%}
    
	<div class="grandParentContaniner">
		<div class="parentContainer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My Peers</li>
                </ol>
              </nav>
			<form class="file-frm" method="post" action="/retrieve_file" enctype="multipart/form-data">

				<h3>My Peers </h3>
            <table class="table ">
                {% if peers  %}
                    <tr>
                        <th>No</th>
                        <th>Username</th>
                        <th>Name</th>
                    </tr>
                {% for peer in peers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ peer[2] }}</td>
                    <td>{{ peer[3] }}</td>                    
                </tr>
                {% endfor %}
                {% else %}
                You have no peers
                {%endif %}
                    
                        
            </table>
				
			</form>
		</div>
	</div>
{% endblock %}



